.register {
  background: white;
  padding: 0;
  width: 70%;
}

.register__title {
  background: darkgray;
  color: white;
  padding: 0px;
  width: 100%;
}
.register__title--container {
  background: darkgray;
  padding: 12px 20px;
}

.register__col--left {
  float: left;
  width: 50%;
  margin-right: 10px;
}
.register__col--right {
  float: right;
  width: 50%;
  margin-left: 10px;
}
.register__form {
  margin-top: 20px;
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.register__form input {
  width: 150%;
  padding: 7px;
  margin-bottom: 10px;
  border: 1px solid darkgray;
  border-radius: 5px;
}
.form__buttons {
  margin: 20px 30px;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
.form__buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  width: 180px;
  color: white;
  cursor: pointer;
}
.form__buttons button:first-child {
  background: white;
  color: black;
  border: 1px solid darkgray;
}
.form__buttons button:last-child {
  background-color: #6fcf97;
  color: white;
}
label {
  display: block;
  margin-bottom: 5px;
}
